---
// Import the fetchPrograms function
import { fetchPrograms } from "./api.js";

type Program = {
  program_id: number;
  program_name: string;
  image: string;
  program_image_flag: string;
  program_rate_id: number | null;
  program_rate: number | null;
  pr_start_date: string | null;
  pr_end_date: string | null;
  country_id: number | null;
  country_name: string | null;
  any_amount: string;
  program_is_animal: string;
  other_amount: string;
  donation_url: string;
  direct_debit_url: string;
  programId: number;
};



// Use fetchPrograms to get data
const data = await fetchPrograms();
const responseData: Program[] = data; // Assuming the response is an array of programs
// var programId: any = [];
var { programId } = Astro.props

---

<!-- <Debug {data} /> -->
<div class="container flex justify-center">
  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 my-8 mx-auto"
  >
    {
      responseData
        .filter(
          (program) =>
            programId.length === 0 || programId.includes(program.program_id),
        )
        .slice(0, 8)
        .map((program) => (
          <div
            key={program.program_id}
            class="max-w-xs bg-gray-50 text-gray-800 shadow-lg border-2"
                   >
            <img
              src={program.image}
              alt=""
              class="object-cover object-center w-full bg-gray-500"
            />
            <div class="flex flex-col justify-between p-4 sm:p-6 space-y-4">
              <div class="space-y-2">
                <h2 class="font-semibold tracking-tight text-lg">
                  {program.program_name}
                </h2>
                <p class="text-gray-800 text-2xl font-semibold">
                  {" "}
                  {program.program_rate
                    ? "£" + program.program_rate
                    : "Any amount"}
                </p>
              </div>
              <a
                href={program.donation_url}
                class="flex items-center justify-center w-full p-2 sm:p-3 font-semibold tracking-tight bg-green-600 text-gray-50"
              >
                Donate Now
              </a>
            </div>
          </div>
        ))
    }
  </div>
</div>;
